.App {
  width:500px;
  margin: 30px auto;
  border: 1px solid #ddd;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Header {
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.1);
  padding: 10px 5px;
  display: flex;
  align-items: center;
}

.NewTodo {
  border: none;
  padding: 8px;
  font-size: 24px;
  width: 80%;
}

.NewTodo:focus {
  outline: none;
}
/* 
.arrow {
  height: 30px;
  width: 30px;
} */

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoFilters {
  display: flex;
  list-style-type: none;
  margin-right: 16px;
}

.TodoFilters > li {
  margin-right: 8px;
  cursor: pointer;
  padding: 4px;
}

.TodoFilters .active {
  border: 1px solid rgb(219, 192, 166);
  border-radius: 4px;
}

button {
  border: none;
  background-color: #fff;
  font-family: "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

button:hover {
  text-decoration: underline;
}

.Nothing {
  margin: 16px;
  color: rgb(116, 64, 64);
}